<div *ngIf="place$ | async as p; else loading" class="page-container placepage-placeinfo">
  <h1>Place Page</h1>

  <div class="place-img-container" *ngIf="p.img">
    <img
      [src]="p.img"
      [alt]="p.name"
      class="place-img"
      style="max-width: 300px; border-radius: 8px; margin-bottom: 16px"
    />
  </div>

  <div class="placepage-places">
    <div class="place-name">
      <h4>{{ p.name }}</h4>
    </div>

    <div class="place-address">
      <h5>Address: {{ p.city }}, {{ p.street }}, {{ p.houseNo }}, {{ p.postalCode }}</h5>
    </div>

    <div class="place-category">
      <p><b>Category:</b> {{ p.category }}</p>
    </div>

    <div class="place-district">
      <p><b>District:</b> {{ p.district }}</p>
    </div>

    <div class="place-date">
      <p><b>Date:</b> {{ p.date | date: 'yyyy-MM-dd, HH:mm' }}</p>
    </div>

    <div class="place-description" *ngIf="p.shortDescription">
      <p><b>Description:</b></p>
      <p><b>Description:</b> {{ p.shortDescription }}</p>
    </div>
  </div>

  <app-comments #commentsComp [placeId]="p._id"></app-comments>
  <app-comment-form [placeId]="p._id" (commentAdded)="commentsComp.refresh()"></app-comment-form>
</div>

<ng-template #loading>
  <p>Loading...</p>
</ng-template>
